In [5]:
students = ['ashok','balu','sashi','jansi','madhu']
print(students[3].title())

Jansi

In [4]:
# how to use index position in reverse order----!
# list there  is -1,-2,-3,-------***
print(students[-1].title())

Madhu

In [9]:
# core concept of list 
# changing ,adding ,removing elements in the list 
my_students = ["satish",'harsha','ashok','swetha','janu']
print(my_students)

['satish', 'harsha', 'ashok', 'swetha', 'janu']

In [ ]:
# changing elements in the list
#obj: ashok------>edwin?

In [11]:
my_students[2] = "edwin"
print(my_students)

['satish', 'harsha', 'edwin', 'swetha', 'janu']

In [12]:
#adding elements in the list 
my_students.append('nani')
print(my_students)

['satish', 'harsha', 'edwin', 'swetha', 'janu', 'nani']

In [16]:
# interview question 
# i want to add in middle
#obj:------hussain name should be added at the second place
my_students.insert(2,"hussain")
print(my_students)

['satish', 'harsha', 'hussain', 'hussain', 'edwin', 'nani']

In [14]:
# removing elements in the file
del my_students[3]
print(my_students)

['satish', 'harsha', 'edwin', 'nani']

In [ ]:
# most asked question 
#pop()--->it will remove elements from the list by default last element will be removed ,pop(2),pop(3)

In [17]:
my_students.pop()
print(my_students)
# pop will remove the elements temporarly

['satish', 'harsha', 'hussain', 'hussain', 'edwin']

In [18]:
# slicing the elements in the list:
team = ["vijay",'balaji',"bhanu","abdul"]
print(team)

['vijay', 'balaji', 'bhanu', 'abdul']

In [19]:
print(team[0:2])

['vijay', 'balaji']

In [20]:
print(team[2:4])

['bhanu', 'abdul']

In [21]:
print(team[1:3])

['balaji', 'bhanu']

In [22]:
print(team[0:4:2])# step count

['vijay', 'bhanu']